@model IEnumerable<e_commerce.Models.Cinema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CinemaLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinemaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinemaDescricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaDescricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CinemaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CinemaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CinemaId })
        </td>
    </tr>
}

</table>
