@model IEnumerable<e_commerce.Models.Ator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AtorFotoLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtorNomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtorBio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="align-middle">
            <img style="border-radius: 50%; max-width: 150px" src="@item.AtorFotoLink"/>
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.AtorNomeCompleto)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.AtorBio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AtorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AtorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AtorId })
        </td>
    </tr>
}

</table>
