@model e_commerce.Models.Filme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cinema.CinemaLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.CinemaLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produtor.ProdutorFotoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produtor.ProdutorFotoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmeNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmeNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmeDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmeDescricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmePreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmePreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmeFotoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmeFotoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmeDataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmeDataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmeDataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmeDataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmeCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
