@model IEnumerable<e_commerce.Models.Filme>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cinema.CinemaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produtor.ProdutorFotoLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmeNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmeDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmePreco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmeFotoLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmeDataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmeDataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmeCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cinema.CinemaNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produtor.ProdutorFotoLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmeNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmeDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmePreco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmeFotoLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmeDataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmeDataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmeCategoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilmeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmeId })
        </td>
    </tr>
}

</table>
